[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["email"], version = "*"}
mongoengine = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
